In [ ]:
from pathlib import Path
from binance import Client, ThreadedWebsocketManager, ThreadedDepthCacheManager
import pandas as pd

In [1]:
apikey = 'QddE1UndJCJ48XvSgC6xKZV2tR365sqFCvpdX6mT6xHOcB9a7Ykqu30qyNn8znOe'
secret = 'kyArU6V1ejdtrZHFpk5CmLpJG1Lk4inAMnoC8hgX53RtK3zDjdUOwV6VH63d6a5B'

In [4]:
#!pip install python-binance pandas mplfinance

In [6]:
client = Client(apikey, secret)

In [7]:
tickers = client.get_all_tickers()

In [12]:
depth = client.get_order_book(symbol = 'BTCUSDT')

In [16]:
depth.keys()

dict_keys(['lastUpdateId', 'bids', 'asks'])

In [21]:
bids = pd.DataFrame(depth['bids'])
bids.columns = ['b_price', 'b_vol']
bids.head(2)

          b_price       b_vol
0  19893.13000000  0.98897000
1  19892.97000000  0.00100000

In [22]:
asks = pd.DataFrame(depth['asks'])
asks.columns = ['a_price', 'a_vol']
asks.head(2)

          a_price       a_vol
0  19893.14000000  4.81294000
1  19893.19000000  0.12573000

In [30]:
data = pd.concat([bids, asks], axis = 1, join = 'inner')

In [31]:
data

           b_price       b_vol         a_price       a_vol
0   19893.13000000  0.98897000  19893.14000000  4.81294000
1   19892.97000000  0.00100000  19893.19000000  0.12573000
2   19891.48000000  0.04122000  19893.93000000  0.00100000
3   19891.47000000  0.12404000  19894.11000000  0.56127000
4   19890.22000000  0.00100000  19894.12000000  1.99061000
..             ...         ...             ...         ...
95  19878.64000000  0.00210000  19914.00000000  0.12582000
96  19878.37000000  0.10000000  19914.91000000  0.00276000
97  19878.35000000  0.22000000  19915.13000000  0.00916000
98  19877.94000000  0.00310000  19915.15000000  0.00057000
99  19877.49000000  0.07073000  19915.32000000  3.11081000

[100 rows x 4 columns]

In [32]:
# hist = client.get_historical_klines('BTCUSDT', Client.KLINE_INTERVAL_1HOUR, '1 Jan 2018')

In [95]:
# hist15m = client.get_historical_klines('BTCUSDT', Client.KLINE_INTERVAL_15MINUTE, '1 Jan 2018')

In [ ]:
#  [
#   [
#     1499040000000,      // Open time
#     "0.01634790",       // Open
#     "0.80000000",       // High
#     "0.01575800",       // Low
#     "0.01577100",       // Close
#     "148976.11427815",  // Volume
#     1499644799999,      // Close time
#     "2434.19055334",    // Quote asset volume
#     308,                // Number of trades
#     "1756.87402397",    // Taker buy base asset volume
#     "28.46694368",      // Taker buy quote asset volume
#     "17928899.62484339" // Ignore.
#   ]
# ]

In [37]:
hist[0][0]

1514764800000

In [38]:
hist_df = pd.DataFrame(hist)

In [96]:
hist15m_df = pd.DataFrame(hist15m)

In [39]:
hist_df.columns = ['Open Time', 'Open', 'High', 'Low', 'Close', 'Volume', 'Close Time', 'Quote Asset Volume', 
                    'Number of Trades', 'TB Base Volume', 'TB Quote Volume', 'Ignore']

In [99]:
len(hist_df)

39412

In [97]:
hist15m_df.columns = ['Open Time', 'Open', 'High', 'Low', 'Close', 'Volume', 'Close Time', 'Quote Asset Volume', 
                    'Number of Trades', 'TB Base Volume', 'TB Quote Volume', 'Ignore']

In [100]:
len(hist15m_df)

157603

In [40]:
hist_df.head()

,Open Time,Open,High,Low,Close,Volume,Close Time,Quote Asset Volume,Number of Trades,TB Base Volume,TB Quote Volume,Ignore
0,1514764800000,13715.65000000,13715.65000000,13400.01000000,13529.01000000,443.35619900,1514768399999,5993909.83603800,5228,228.52192100,3090541.10576949,0
1,1514768400000,13528.99000000,13595.89000000,13155.38000000,13203.06000000,383.69700600,1514771999999,5154521.55513544,4534,180.84040300,2430449.49295672,0
2,1514772000000,13203.00000000,13418.43000000,13200.00000000,13330.18000000,429.06457200,1514775599999,5710192.01852959,4887,192.23793500,2558504.65764531,0
3,1514775600000,13330.26000000,13611.27000000,13290.00000000,13410.03000000,420.08703000,1514779199999,5657448.45730419,4789,137.91840700,1858041.25745743,0
4,1514779200000,13434.98000000,13623.29000000,13322.15000000,13601.01000000,340.80732900,1514782799999,4588046.99615741,4563,172.95763500,2328057.92021612,0

In [98]:
hist15m_df.head()

,Open Time,Open,High,Low,Close,Volume,Close Time,Quote Asset Volume,Number of Trades,TB Base Volume,TB Quote Volume,Ignore
0,1514764800000,13715.65000000,13715.65000000,13400.01000000,13556.15000000,123.61601300,1514765699999,1675544.88664526,1572,63.22713300,857610.82699857,0
1,1514765700000,13533.75000000,13550.87000000,13402.00000000,13521.12000000,98.13643000,1514766599999,1321756.85180771,1461,47.68638900,642281.17230261,0
2,1514766600000,13500.00000000,13545.37000000,13450.00000000,13470.41000000,79.90403700,1514767499999,1078825.28721296,1000,43.71040600,590034.71316000,0
3,1514767500000,13494.65000000,13690.87000000,13450.00000000,13529.01000000,141.69971900,1514768399999,1917782.81037207,1195,73.89799300,1000614.39330831,0
4,1514768400000,13528.99000000,13571.74000000,13402.28000000,13445.63000000,72.53753300,1514769299999,977819.78729486,898,34.25765200,461836.85398207,0

In [105]:
hist_df['Open Time'] = pd.to_datetime(hist_df['Open Time'], unit='ms')

In [106]:
hist_df.head(2)

,Open Time,Open,High,Low,Close,Volume,Close Time,Quote Asset Volume,Number of Trades,TB Base Volume,TB Quote Volume,Ignore
0,2018-01-01 00:00:00,13715.65000000,13715.65000000,13400.01000000,13529.01000000,443.35619900,1514768399999,5993909.83603800,5228,228.52192100,3090541.10576949,0
1,2018-01-01 01:00:00,13528.99000000,13595.89000000,13155.38000000,13203.06000000,383.69700600,1514771999999,5154521.55513544,4534,180.84040300,2430449.49295672,0

In [107]:
hist15m_df['Open Time'] = pd.to_datetime(hist15m_df['Open Time'], unit='ms')

In [108]:
hist15m_df.head(2)

,Open Time,Open,High,Low,Close,Volume,Close Time,Quote Asset Volume,Number of Trades,TB Base Volume,TB Quote Volume,Ignore
0,2018-01-01 00:00:00,13715.65000000,13715.65000000,13400.01000000,13556.15000000,123.61601300,1514765699999,1675544.88664526,1572,63.22713300,857610.82699857,0
1,2018-01-01 00:15:00,13533.75000000,13550.87000000,13402.00000000,13521.12000000,98.13643000,1514766599999,1321756.85180771,1461,47.68638900,642281.17230261,0

In [110]:
# filepath1 = Path('files/BTCUSDT_1h.csv')  
# filepath1.parent.mkdir(parents=True, exist_ok=True)  
# hist_df.to_csv(filepath1)

In [111]:
# filepath1 = Path('files/BTCUSDT_15m.csv')  
# filepath1.parent.mkdir(parents=True, exist_ok=True)  
# hist15m_df.to_csv(filepath1)